@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Дипломна робота</h1>
    <p class="lead">Тема: "Модуль керування сховищем даних автоматизованої  навчальної системи з урахуванням динаміки формування вмінь"</p>
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-4">
        <h2>Дипломний керівник</h2>
        <p>Титенко Сергій Володимирович</p>
    </div>
    <div class="col-md-offset-3 col-md-4">
        <h2>Виконав</h2>
        <p>Богданов Анатолій Валерійович</p>
    </div>
</div>